<!DOCTYPE html>
<html>
  <head>
    <title>IshanaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%= asset_path('logo.jpg') %>" type="image/x-icon">



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>


  </head>

  <body>
  <div class="main-div">
    <%= render 'shared/header' %>
    
      <%= yield %>
    </div>
   
  </body>
</html>
